{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block menu %}
    <span class="label label-status-green">
        <span class="icon">{{ include('@UmamiNationRest/DebugBar/logo.html.twig') }}</span>
        <strong>UmamiNation REST Platform</strong>
    </span>
{% endblock %}

{% block panel%}
    {% if collector is defined and collector.packages is defined %}
        <h2>Packages</h2>

        <div class="metrics">
            <h3 style="color:goldenrod">Composer</h3>
            {% for package, info in collector.packages.data %}
                <div class="metric">
                    <a href="{{ info.homepage }}" class="value">{{ package }}</a><br/>
                    <span style="color: darkgray; padding-left: 5px;">Version: {{ info.version }}</span>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <h2 style="color: firebrick">Could not initialize packages collector</h2>
    {% endif %}
{% endblock %}

{% block toolbar %}
    {% set icon %}
        <span class="sf-toolbar-label">
            {{ include('@UmamiNationRest/DebugBar/logo.html.twig') }}
        </span>
        {% if collector is defined and collector.packages is defined %}
            <span class="sf-toolbar-status">
                {{ collector.packages.data|length }}
            </span>
        {% else %}
            <span class="sf-toolbar-status sf-toolbar-status-red">
                0
            </span>
        {% endif %}
    {% endset %}

    {% set text %}
        {% if collector is defined and collector.packages is defined %}
            <h5>Packages</h5>
            <div class="sf-toolbar-info-group">
                <b style="color:goldenrod">Composer</b>
                {% for package,info in collector.packages.data %}
                    <div class="sf-toolbar-info-piece">
                        <a href="{{ info.homepage }}">{{ package }}:&nbsp;</a>
                        <span style="font-size: 11px; color: lightgreen;">{{ info.version }}</span>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h5 style="color: firebrick;">Could not initialize packages collector</h5>
        {% endif %}
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}

{% endblock %}